.weather-app {
    margin: auto;
    width: 600px;
    height: 320px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 50px #888888;
    overflow: hidden;
    text-align:center;
    font-family: Monospace;
}

.left {
    float: left;
    background: #262626;
    padding:10px;
    width: 320px;
    height:100%;
    color:white;
}

.temperature {
    margin-top:70px;
    margin-bottom:5px;
    font-size:64px;
    font-weight: bold;
    width: 300px;
    font-family: Monospace;
}

.location {
    font-size: 36px;
    width:100%;
    width:300px;
    font-family: Monospace;
}

.right {
    float: right;
    width: 260px;
    height:100%;
    font-size: 32px;
    font-family: Monospace;
}

.top {
    height: 200px;
    width: 100%;
    margin: auto;
    background: #cec;
}

.top img {
    margin-top: 15px;
    height: 75%;
    width: 75%;
}

.bottom {
    height: 140px;
    background: #669999;
    color: white;
    font-weight: bold;
    font-family: Monospace;
}

.humidity {
    padding: 8px;
}

.humidity img {
    height: 40px;
}

.wind {
}

.head{
    text-align: center;
    font-family: Monospace;
    font-size: 72px;
}

.units{
    padding: 75px;
    text-align: center;
}
